
:root {
  --main-font:'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color:#2196F3;
}
 
body{
  font-family: var(--main-font), 'Raleway';
  color: var(--main-color);
  background-color: #FFFFFF;
}

/*///////////COMPONENTS//////////*/
 a {
      text-decoration: none;
      color: #000; 
  }

  ul {
list-style-type: none;
  }
/*////////END COMPONENTS/////////*/


/*/////////////HEADER////////////*/



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
}


  /*WEB LOGO, SITE-NAV & CONTACTS*/

/*MENU*/

.menu{

    
    height: 80px;
    background-color:#FFFFFF;
    display:flex;
    align-items:center;
    flex-wrap: nowrap;
}


/*WEBSTUDIO LOGO*/
  .logo-link 
   {
    width: 145px;
    height: 31px;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
}
 

/*NAV*/
.navigation {
  display: flex;
  flex-wrap: nowrap;
}
.site-nav{
    width: 254px;
    left: 453px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

  /*AGENCY*/

  .agency-link {
     
     
      font-size: 14px;
      font-weight: 500;
      line-height: 1.142;
      letter-spacing: 0.02em;
      text-decoration: none;
     
  }

  /*Active link*/
.web,
.logo-link:hover,
.logo-link:focus,
.agency-link:hover,
.agency-link:focus,
.agency-link:active,
.portfolio-link:focus,
.portfolio-link:hover,
.portfolio-link:active,
.contact-link:hover,
.contact-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus,
.footer-link:hover,
.footer-link:focus,
.mail-1:hover,
.mail-1:focus,
.phone-number-1:hover,
.phone-number-1:focus{
       color:var(--main-color);
       text-decoration: none;
       cursor: pointer;
  }

  
  /*PORTFOLIO*/
  .portfolio-link{
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 0.02em;
      text-decoration: none;
      color: #212121;
   

  }


  /*CONTACTS*/
.contact-link{
   
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
text-decoration: none;
color: #212121; 

}


/*MAIL ADRESS*/

.mail-to {
margin-left: 718px;
}


.mail-link {
   
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;


}

/*PHONE NUMBER*/

.tel-link {
margin-left: 50px;
}

.tel-link{
   
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
text-decoration: none;
color: #757575;

}



/*FOOTER*/


  .footer {
      

height: 252px;
display: flex;
flex-direction: column;
background: #2F303A;
  }


/*FOOTER STYLES*/

/*ADDRESS FOOTER*/
  .address-footer{

    width: 255px;
    height: 81px;
    margin-top: 20px;
    margin-left: 215px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em; 
    color: #FFFFFF;

  }

/*LOGO FOOTER STYLES*/

.logo-footer {
       margin-top: 60px;
       margin-left: 215px;
}

  .footer-link {  
        font-family:'Raleway';
        font-weight: bold;
        font-size: 26px;
        line-height: 36px;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #000;
  }

  

  /*PHONE-NUMBER FOOTER*/
  .phone-number-1 {

font-style: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
  }

  /*MAIL ADRESS FOOTER*/
  .mail-1 {
      
font-style: normal;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
text-decoration: none;
color: rgba(255, 255, 255, 0.6);
  }

/*/////////////MAIN//////////////*/

.container-full {
  width: 100%
}

.dark-bg{
  background: #2F303A;
}

/*SLOGAN BG*/

  .company-slogan {
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }

/*SLOGAN TEXT*/
.slogan {
  display: flex;
  height: 400px;
width:696px;
font-weight: 900;
font-size: 44px;
line-height: 1.363;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 200px;
margin-bottom: 0px;
justify-content: center;
background-image:url(/images/bg-img.jpg);
 }

/*BUTTON*/

.button{
  display: flex;
  justify-content: center;
}
.button-01 {   
  width: 200px;
  height: 50px;
font-weight: 500;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.06em;
color: #FFFFFF;
background-color: var(--main-color);
box-shadow: px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
cursor:pointer;
border:none;
margin-top: 30px;
padding: 0px;


}

/*ADVANTAGES SECTION*/

 .advantages {
    width: 1170px;
    margin-left: 215px;
    margin-top: 94px;
}


/* DARKER LI TEXT*/
 .l-i-1 , 
 .l-i-2 , 
 .l-i-3 , 
 .l-i-4 {

font-weight: 500;
font-size: 14px;
line-height: 1.142;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin:0px;
 }

 /*LIGHTER LI TEXT*/
 .lorem-ipsum-1-text,
 .lorem-ipsum-2-text,
 .lorem-ipsum-3-text,
 .lorem-ipsum-4-text {
     
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: #757575;
margin-top: 10px;
margin-bottom: 0px;
}

 

/*OUR ADVANTAGES SECTION*/

  .adventages-list {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .lorem-ipsum-2,
  .lorem-ipsum-3,
  .lorem-ipsum-4 {
    margin-left:30px;
  }
 

  /*WHAT WE DO SECTION*/
.what-we-do {
   width: 1170px;
    margin-left: 215px;
    margin-top: 94px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    align-content: space-between;
}
 
.what-we-do-text {
font-weight: 500;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
margin-left: 0px;

color: #212121;

}

/*PICTURES*/

.design-picture,
color-picture {
margin-left:30px;
}

/*///////////OUR TEAM SECTION/////////*/

.our-team {
    margin-top: 0px;
    width: 1600px;
    left: 0px;
    padding-top: 94px;
    padding-bottom: 94px;
    justify-content: center;
    background-color: #F5F4FA;
}

.our-team-members{
  
font-weight: 500;
font-size: 36px;
line-height: 1.166;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin:0px;

}

.team-members-list {
   
    margin-top: 50px;
    margin-left: 215px;
    margin-right:215px;
    width: 1170px;
    height: 368px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.member-1-list,
.member-2-list,
.member-3-list,
.member-4-list {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-left:30px;
}


.member-name{
font-weight: 500;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin: 0px;
margin-top: 30px;
}

.member-position{
font-weight: normal;
font-size: 16px;
line-height: 1.187;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
margin: 0px;
margin-top: 10px;
}

/*////////////PORTFOLIO///////////*/

/*PORTFOLIO FILTERS*/

.filters-list {
    width: 572px;
    height: 54px;
    margin-left: 510px;
    margin-top: 94px;
    margin-bottom: 34px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.button-1,
.button-2,
.button-3,
.button-4,
.button-5 {
   
    height: 38px;
    background-color: #F5F4FA;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    padding: 6px 22px;
}

.button-1:hover,
.button-1:focus,
.button-2:hover,
.button-2:focus,
.button-3:hover,
.button-3:focus,
.button-4:hover,
.button-4:focus,
.button-5:hover,
.button-5:focus {
  background-color:var(--main-color);
  color:#FFFFFF;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border:none;
}

.projects-list{
  display: flex;
  flex-wrap: nowrap;
  margin-left: -10px;
  margin-top: -10px;

}

.technocrack-list,
.no-vs-gs-list,
.seafood-restaurant-list,
.project-prime-list,
.project-boxes-list,
.i-h-n-b-list,
.l-e-m-list,
.project-lab-list,
.growing-buisness-list {
  margin-left: 10px;
  margin-top: 10px;
  flex-basis: calc(100% / 3 - 10px);
}

.technocrack-name,
.no-vs-gs-name,
.seafood-restaurant-name,
.project-prime-name,
.project-boxes-name,
.i-h-n-b-name,
.l-e-m-name,
.project-lab-name,
.growing-buiseness-name{
  color:#212121;
}

.technocrack-type,
.no-vs-gs-type,
.seafood-restaurant-type,
.project-prime-type,
.project-boxes-type,
.i-h-n-b-type,
.l-e-m-type,
.projct-lab-type,
.growing-buisness-type{
  color: #757575;
}

